Source: cvs2svn
Section: vcs
Priority: optional
Maintainer: Robbi Nespu <robbinespu@gmail.com>
Build-Depends-Indep: dh-python, rcs, cvs, subversion, locales
Build-Depends: dh-python, python3-all, debhelper-compat (= 12), python3-setuptools
Standards-Version: 4.5.1
Homepage: http://cvs2svn.tigris.org/

Package: cvs2svn
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, subversion , rcs
XB-Python-Version: ${python3:Versions}
Suggests: cvs, bzr, git-core
Recommends: mime-support
Description: Convert a cvs repository to a subversion, bazaar or git repository
 Converts a CVS repository (including its branches and tags) to a
 Subversion, Bazaar or Git repository. It is designed for one-time conversions,
 not for repeated synchronizations between CVS and Subversion, Bazaar or Git.
